
body {

    background-color: #fcf8d2 ;
    
    }
    
    h1 {
    color: #944dff;
    
    }
    
    
    P {
    
    color: #4007fc;
    
    }
    
    
    
    A {
    Color: #3cc3e1;
    
    }
    
    nav { 
    
      background-color: #dae1fe;  
      padding:10px;
    margin-bottom: 30px;
    
    }
    
    nav a {
    
    color:  #f70000;
    }
    
    nav a:hover { 
    
        color: red;
    }
    
    /*index*/
    .bioimage {max-width:100;width:100%;}
    
    @media only screen and (max-width:600px){ 
      mav a {max-width:100%; display:block;}
      span {display:none;}
    }
    