
@media only screen and (max-width:600px){ 
mav a {max-width:100%; display:block;}
span {display:none;}
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ubuntu:wght@300&display=swap');

.skip { 
    padding:5px;
    background-color: #f5d69d;
    border: 1px solid black;
    position: absolute;
    top:30px;
    left: -999px;
}

.skip:focus {
    left:10px;
}