p, ul, td, th {
    color: rgb(16, 15, 16);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {

    color: darkgreen;
    font size:150%;
}

h2 {
color: mediumorchid;
font-size: 100%;
}

.evenrow{

 background-color: dodgerblue;
}